<div class="dashboard-container">

  
  
  <div class="dashboard-right">
    <div class="right-inner">
      <i class="fa fa-plus-square fa-3x"></i>
    </div>
  </div>
  
  <div class="dashboard-left">
    <div class="left-inner">
      <h3>Recent Invoices</h3>
    </div>
  
  <!-- for some reason i need the param here and not in the routes -->
  <%= form_tag invoice_search_path, :method => 'get', remote: true do %>
      <i class="fa fa-search"></i>
      <%= text_field_tag :search, params[:search], class: "left-search", :placeholder => "Enter the recipients name"  %>
      
  <% end %>
  
  
    <div class="left-invoices-container">
      
      <%= render "layouts/inv_search.html.erb" %>
      
    </div>
      
  </div>
  
</div>