  <%= form_for [@topline], :remote => true do |f| %>
 <div class="tutorial-topline-new-container-edit">
        <%= f.text_field :name, placeholder: "Name", class: "tutorial-topline-new-name tk-proxima-nova" %>
        <%= f.text_field :value, placeholder: "Value", class: "tutorial-topline-new-value tk-proxima-nova" %>
        <%= f.submit "Add", class: "tutorial-topline-button tk-refrigerator-deluxe" %>
      </div>
  <% end %>