<div class="dashboard-container">

  <div class="edit-user-container">
      <%= render "users/edituser.html.erb" %>
  </div>
  
  
  <div class="iframe-container-user" style="display:inline-block" style="display:none">
    <%= render "users/iframe.html.erb" %>
  </div>

</div>


