<p><strong>INVOICE FOR:</strong> <%= @inv.recipient %></p>

<p>
  <strong>GROUP:</strong> 
  <% if @inv.group == nil %> <!-- WILL DISPLAY A GTROUP IF THERE IS ONE -->
    none
  <% else %>
    <%= @inv.group.name %>
  <% end %>
</p>
