$('.right-form-container').html("<%= j (render "invs/editpage.html.erb") %>"); <!-- renders the form for the invoice you jsut made -->
$('.left-invoices-container').html("<%= j (render "layouts/inv_search.html.erb") %>"); <!-- renders the search -->
$('.right-inner').html("<h3>Editing Invoice for: <%= j (@inv.recipient) %></h3>"); <!-- renders the search -->