<div class="dashboard-container">
  <div class="dashboard-right-container">
      <div class="dashboard-right">
        
       <%= render "invs/newpage.html.erb" %>
  
    </div>
  </div>
</div>
      
<script>
  type_ahead();
  $(".date-form-dashboard").datepicker({ dateFormat: 'dd-mm-yy' }).val()
</script>