


.dashboard-container {
  width: 1200px;
  margin: auto;
}


//DASHBOARD LEFT

.left-search {
  background-color: white;
  width: 80%;
  margin: 10px 0 10px 10px;
  border-radius: 8px;
  
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  
  display: block;
  padding-left: 22px;
  border:none;
  display: inline-block;
}

textarea, input { 
  outline: none; 
}

.fa-search {
  margin: 5px 0 5px 5px;
  position: relative;
  left: 32px;
  top: 0px;
  display:inline-block;
}






//
//DASHBOARD RIGHT
//

.dashboard-right-container {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  margin-bottom: 15px;
}

.dashboard-right {
  display: inline-block;
  width: 100%;
  background-color: #2a323a;
  margin-left: 15px;
  border-radius: 3px;
  margin-right: 15px;
      padding-bottom: 5px;
}

.right-body {
  width: 100%;
  height: 90%;
  margin-left: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.right-inner > h3 { 
  display: inline-block;
  color: #ededed;
  text-align: center;
  padding: 18px 0px 15px;
  border-bottom: 3px solid black;
  margin: 0 0 0 15px;
  font-size: 1.8em;
  border:none;
}


.right-inner-two > h3 { 
  display: inline-block;
  color: #ededed;
  text-align: center;
  padding: 18px 0px 15px;
  border-bottom: 3px solid black;
  margin: 4px 10px 0 0px;
  font-size: 1.4em;
  border:none;


}


.right-inner-container {
  width: 100%;
  background-color: #111111;
}

.right-inner {
  width: 69%;
  background-color: #111111;
  display:inline-block;
  box-sizing: border-box;
  margin-right: -4px;
}

.right-inner-two {
  width: 30%;
  background-color: #111111;
  display:inline-block;
  box-sizing: border-box;
  vertical-align: top;
  overflow:hidden;
  text-align:right;

}

.right-inner-form {
  display:none;
  vertical-align: top;
  padding: 18px 0px 0px;
}

.right-inner-two-form {
  display:none;
  vertical-align: top;
  padding: 18px 0px 0px;
}


.iframe-container {
  display:block;
  vertical-align:top;
  width: 100% !important;
  height: 100% !important;
  overflow:hidden;
}


.iframe-inner {
  width: 100% !important;
  height: 1100px !important;
  margin-left: 14px !important;

}

.edit_inv {
  display:inline-block !important;
}

.recipient-form-dashboard {
  color: black;
  background-color: #0A0A0A;
  color: #8e8e8e;
  border: none;
  font-size: 1.8em;
  margin-top: -1px;
}

.total-form-dashboard {
  color: black;
  background-color: #0A0A0A;
  color: #8e8e8e;
  border: none;
  font-size: 1.4em;
  margin-top: -1px;
  width: 130px;
}

//
//recipient
//

.recipient-form-dashboard-edit {
  border:none;
  display: block;
  width: 300px;
  vertical-align: Top;
  font-size: 17px;
  height: auto;
  border-radius: 3px;
  padding-left: 5px;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

//
// Total
//

.total-form-dashboard-edit {
  border:none;
  display: block;
  width: 100px;
  vertical-align: Top;
  font-size: 17px;
  height: auto;
  border-radius: 3px;
  padding-left: 5px;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}




//
//DATE!!!
//

.date-container {
  vertical-align:top;
  background-color: #181818;
  border-radius: 2px;
  padding: 3px 5px 5px 7px;
  display: inline-block;
  
}

.date-form-title {
  display: block;
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
}

.date-form-dashboard {
  border:none;
  display: block;
  width: 93px;
  vertical-align: Top;
  font-size: 20px;
  border-radius: 3px;
  padding-left: 5px;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}







//
//GROUPS
//

.group-container {
  vertical-align:top;
  background-color: #181818;
  border-radius: 2px;
  padding: 3px 5px 5px 7px;
  display: inline-block;
}

.group-form-title {
  display: block;
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
}

select {
  border:none;
  display: inline-block;
  font-size: 20px !important;
  border-radius: 3px;
  padding: 2px 5px;
  margin-top: -1px;
  background-color: white !important;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  width: 150px;
}






//
// ADDRESS
//

.address-container {
  vertical-align:top;
  background-color: #181818;
  border-radius: 2px;
  padding: 3px 5px 5px 7px;
  display: inline-block;
  margin: 0px 0px;
}

.address-form-title {
  display: block;
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
}

.address-form-dashboard {
  border:none;
  display: block;
  width: 300px;
  height: 130px;
  vertical-align: Top;
  font-size: 20px;
  border-radius: 3px;
  padding-left: 5px;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  
}





//
// note
//

.note-container {
  vertical-align:top;
  background-color: #181818;
  border-radius: 2px;
  padding: 3px 5px 5px 7px;
  display: inline-block;
  margin: 0px 0px;
}

.note-form-title {
  display: block;
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
}

.note-form-dashboard {
  border:none;
  display: block;
  width: 300px;
  height: 130px;
  vertical-align: Top;
  font-size: 20px;
  border-radius: 3px;
  padding-left: 5px;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  
}
//
//button
//

.dashboard-form-button {
  margin-left: 5px;
  margin-top: 1px;
}

.dashboard-form-button:hover {
  background-color: #a0a0a0
}





//
//ICONS
//

.fa-pencil-square-o {
  font-size: 2.1em !important;
  color:#AB6064;
    vertical-align: top;
       margin-left: 5px;
  margin-right: 3px;
}

.fa-arrow-circle-down {
  font-size: 2.1em !important;
  color: #AB6064;
  vertical-align: top;
  margin-top: -1px;
  margin-left: 5px;
}

.fa-trash-o {
  font-size: 2.0em !important;
  margin-top: -1px;
  color: #AB6064;
  vertical-align:top;
}

.fa-trash-o:hover, .fa-arrow-circle-down:hover, .fa-pencil-square-o:hover {
  color:white;
}