
.right-form-container {
  padding: 20px 0px 20px 10px;
}



//
//RECIPIENT//
//

.recipient-container-new {
  vertical-align:top;
  background-color: #181818;
  border-radius: 2px;
  padding: 3px 5px 5px 7px;
  display: inline-block;
  margin-bottom: 10px;
}

.recipient-form-title-new {
  display: block;
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
}

.recipient-form-dashboard-new {
  border:none;
  display: block;
  width: 300px;
  vertical-align: Top;
  font-size: 20px;
  height: auto;
  border-radius: 3px;
  padding-left: 5px;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.recipient-info {
  background-color: #B7BACC;
  font-size: 13px;
  width: 800px;
  display:inline-block;
  border-radius: 5px;
  font-weight: 300;
  padding: 10px 15px;
  float:right;
  margin-right: 35px;
  margin-top: 10px;

}






//
//DATE!!!
//

.date-form-container-new {
  vertical-align:top;
  background-color: #181818;
  border-radius: 2px;
  padding: 3px 5px 5px 7px;
  display: inline-block;
  
}

.date-form-title-new {
  display: block;
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
}

.date-form-dashboard-new {
  border:none;
  display: block;
  width: 93px;
  vertical-align: Top;
  font-size: 20px;
  border-radius: 3px;
  padding-left: 5px;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.date-info {
  background-color: #B5D0B6;
  font-size: 13px;
  width: 800px;
  display:inline-block;
  border-radius: 5px;
  font-weight: 300;
  padding: 10px 15px;
  float:right;
  margin-right: 35px;
  margin-top: 3px;

}





//
//GROUPS
//

.group-container-new {
  vertical-align:top;
  background-color: #181818;
  border-radius: 2px;
  padding: 3px 5px 5px 7px;
  display: inline-block;
}

.group-form-title-new {
  display: block;
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
}

select {
  border:none;
  display: inline-block;
  font-size: 20px !important;
  border-radius: 3px;
  padding: 2px 5px;
  margin-top: -1px;
  background-color: white !important;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}






//
// ADDRESS
//

.address-container-new {
  vertical-align:top;
  background-color: #181818;
  border-radius: 2px;
  padding: 3px 5px 5px 7px;
  display: inline-block;
  margin: 10px 0px;
}

.address-form-title-new {
  display: block;
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
}

.address-form-dashboard-new {
  border:none;
  display: block;
  width: 300px;
  height: 130px;
  vertical-align: Top;
  font-size: 20px;
  border-radius: 3px;
  padding-left: 5px;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  
}

.address-info {
  background-color: #D8BFC0;
  font-size: 13px;
  width: 800px;
  display:inline-block;
  border-radius: 5px;
  font-weight: 300;
  padding: 10px 15px;
  float:right;
  margin-right: 35px;
  margin-top: 10px;

}




//
//BUTTOn
//

.new-button-dashboard {
  display: block;
  font-size:20px;
}





.fa-plus-circle {
  color: green;
  position: relative;
  top: -45px;
  left: 255px;
  -webkit-transition:  color 1s;
  transition: color 1s;
}
.fa-plus-circle:hover {
  color: white;

}


