//
//********EDIT USER
//

.edit-user-h4 {
  color: white;
}

.edit-toplines-h4 {
  color: white;
  margin-left: 10px;
}


.edit-user-sender {
  background-color: #181818;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
}

.edit-user-sender > label {
  color: white;
}

.edit-user-sender > input {
  background-color: black;
  border:none;
  border-radius: 5px;
}


.edit-user-topoffset {
  background-color: #181818;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
}

.edit-user-topoffset > label {
  color: white;
}

.edit-user-topoffset > input {
  background-color: black;
  border:none;
  border-radius: 7px;
}

