$lighter-blue: #e5f5fc;
$light-blue: #b9dae8;
$mid-blue: #70b5d3;
$dark-blue: #2588b2;

$nearly-black: #1c1c1c;


/**************************
********HEADER***********
************************/

.header {
  background-color: #3F444A;
  padding: 5px 10px 39px;
  height: 2.8em;
  -webkit-box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.75);
}

.header > a {
  color: white;
  margin-left: 12px;
}

.fa-object-group {
  color: $nearly-black;
  font-size: 2.3em !important;
  -webkit-transition:  color 0.3s;
  transition: color 0.3s;
}

.fa-file-text {
    color: $nearly-black;
  font-size: 2.3em !important;
  -webkit-transition:  color 0.3s;
  transition: color 0.3s;
  margin-right: 5px;
}

.header-circle {
  position:static !important;
  top:0;
  right:0;
  left:0;
  color: $nearly-black !important;
  font-size: 2.3em !important;
}

.fa-pencil {
  color: $nearly-black;
  font-size: 2.3em !important;
  -webkit-transition:  color 0.3s;
  transition: color 0.3s;
}

.fa-user {
  color: $nearly-black;
  position: absolute;
  right: 8px;
  top:8px;
  -webkit-transition:  color 0.3s;
  transition: color 0.3s;
  font-size: 2.3em !important;
}

.fa-user:hover, .fa-object-group:hover, .header-circle:hover, .fa-pencil:hover, .fa-file-text:hover {
  color: white !important;
}

.user-name {
  color: white;
  display: inline-block;
  position: absolute;
  top: 22px;
  right: 38px;
  font-size: 11px;
}

.user-dropdown {
  display: inline-block;
  position: absolute;
  background-color: #5F7184;
  right: 2px;
  top: 39px;
  padding: 5px 10px;
  display:none;
}

.user-dropdown > a {
  display: block;
  color: white;
}




//
//dropdown invoices
//

.dropdown-invoices-container {
  display:inline-block;
  width: 1px;
  height: 1px;
  position: absolute;
  z-index:2;
}

.dropdown-invoices {
  position: relative;
  bottom: 50px;
  background-color: #2c2e30;
  width: 220px;
  height: 600px;
  
}

.dropdown-padding {
  height: 10px;
  background-color: #3F444A;
}

.dropdown-invoices-inner {
  overflow-y:scroll;
  height: 480px;
  background-color: #3F444A;
  padding: 0px 0px;
}

.dropdown-invoices-title {
  color: white;
  margin: 0px;
  padding: 10px 10px 0px 10px;
  text-align: center
}

.dropdown-invoices-search {
  margin-left: -18px;
}

.invoice-header-container {
  background-color: #252525;
  padding: 5px;
  border-radius: 3px;
  margin: 0px 10px 4px;
}

.invoice-header-container-selected {
  background-color: #6B6B6B;
}

.invoice-header-container:hover {
  background-color: #6B6B6B;
}

.invoice-header-container-name {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 17px;
}

.invoice-header-container-date {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 12px;
}