/***** 
LOG IN PAGE
*/


.log-in-page-container {
  width: 100%;
}

.not-logged-in-header {
  color: white;
  font-size: 100px;
  text-align: center;
}

.not-logged-in-info {
  color: #c5cbea;
  text-align: center;
  font-size: 18px;
  margin-bottom: 65px;
}

.log-in-page-top-paragraph {
  color: white;
  margin: 1px 5px;
}

.log-in-title {
  color: white;
  text-align: center;
}

.username-container {
  margin: auto;
  width: 400px;
  margin-top: 30px;
}

.username-label {
  display:block;
  color: #c5cbea;
}

.username-form {
  width: 100%;
  font-size: 20px;
}


.password-container {
  margin-top:20px !important;
  margin: auto;
  width: 400px;
}

.password-confirm-container { //only on the signup page
  margin-top:12px !important;
  margin: auto;
  width: 400px;
}

.password-label {
  display:block;
  color:#c5cbea;
  
}

.password-form {
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
}

.log-in-button {
  font-size: 20px;
}

.remember-me {
  color: white;
}

input[type="checkbox"] {
    margin: 5px 0px 0px 10px !important;
    line-height: normal;
}

