$lighter-blue: #e5f5fc;
$light-blue: #b9dae8;
$mid-blue: #70b5d3;
$dark-blue: #2588b2;

$nearly-black: #1c1c1c;

/***************..
*******GENERaL STUFF **
*******************/

html, body{
  height: 100%;
}

body {
  background-color: #1c1c1c !important;
}

.contains-everything {
  padding: 0px 0px;
  height: 70%;
}

.absolute-title { // title at the top after the user logs in
  text-align:center;
  color:white;
  margin-top: -27px;
  font-size: 20px;
  word-spacing: -7px;
}

.divider { //divides the forms in the new inv and edit inv forms
  clear:both;
}


//
//SORTABLE
//

.sortable-placeholder {
  border: 1px dashed #CCC;
  background-color: #4e6889;
  height: 36px;

  margin: 5px 0px;
  list-docoration: none;
  width: 98.5%;
}

.sortable {
  list-decoration: none;
  margin: 0;
  padding: 0;
}

.sortable2 {
  list-decoration: none;
  margin: 0;
  padding: 0;
  
}


//
// LINE DISPLAY
//

.line {
  border-radius: 3px;
  background-color: $lighter-blue;
  padding: 2px 10px 2px 10px;
  overflow: auto;
  background-color: #181818;
  margin: 0px 5px 5px 0px;
  font-size: 20px;
  color: white;
  width: 98.5%;
}

.form-container {
  display: inline-block;
}

.service-paragraph, .description-paragraph, .price-paragraph, .quantity-paragraph {
  display: inline-block;
  margin: 2px 0px 2px;
}

.service-paragraph {
  font-weight: 500;
}

.price-paragraph {
  float: right;
  vertical-align:top;
 margin-left: 10px;
}

.quantity-paragraph {
  color:#A9A7A7;
  float: right;
  vertical-align:top;
 margin-left: 10px;
}

.description-paragraph {
  font-weight: 300;
}

.delete-button {
  float:right;
  vertical-align:top;
  color: #E55E65;
  margin-left: 5px;
}

.edit-button {
  float: right;
  margin-right: 5px;
  margin-left: 15px;
}

.block-body {
  width: 1000px;
  height: 200px;
}











/* NEW LINE FORM */



.new-line-form {
  background-color: #20252A;
  padding: 2px 10px 15px;
  border-radius: 5px;
  width: 98.5%;
  margin: 10px 0px;
}



.line-button:hover {
  background-color: #a0a0a0
}


.new-line-form-title {
  color: white;
  margin-left: 2px;
}

.line-left {
  display:inline-block;
  max-width: 980px;
}

.description, .service, .price, .quantity {
  border:none;
  display: inline-block;
  width: 300px;
  vertical-align: Top;
  font-size: 20px;
  border-radius: 3px;
  padding-left: 5px;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  margin-right: 5px;
  color: black !important;
}


.service {
  width: 200px;
}

.description {
  height: 30px;
  width: 685px;
  max-width: 685px;
}

.quantity {
  width: 90px;
  
}

.price {
  width: 90px;
}

.edit_line {
  display: inline-block;
  margin: 3px 0px;

}

.line-button {
  padding: 3px 10px;
  margin-left:15px;
}

///////////////
.description2, .service2, .price2, .quantity2 { //SMALLER MARGIN RIGHT CAUSE RENDERING THE FORM BREAKS THIS
  margin-right: 3px !important;
}

.line-button2 {
  color: black !important;
  height: 30px !important;
  color: black !important;
  font-size: 13px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
}
///////////////



/********************
****GROUPS**********
*********************/

.groups-container {
  overflow:auto;
  width: 300px;
  height: 585px;
  float:right;
}

.groups-inner {
  display: inline-block;
  height: 700px;
  width: 100%;
  background-color: #2a323a;
  border-radius: 5px;

}

/***************//******************
********NO RESULTS *****
***************/

.no-results {
  margin-top: 150px;
}

.fa-frown-o {
  color: white;
  text-align: center;
  display: block !important;
  font-size: 7em !important;
}

.no-results > p {
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}










.left-invoices-container::-webkit-scrollbar,.right-body::-webkit-scrollbar, .groups-container::-webkit-scrollbar-track {
    width: 12px;
}
 
.left-invoices-container::-webkit-scrollbar-track, .right-body::-webkit-scrollbar-track, .groups-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9); 
    border-radius: 10px;
    
}
 
.left-invoices-container::-webkit-scrollbar-thumb, .right-body::-webkit-scrollbar-thumb, .groups-container::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: #141414;
}

.tt-menu {
  width: 400px;

  margin: 0 0 0 10px;
  background-color: #1c1c1c;
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  padding: 5px 10px;
}

.tt-hint {
  color:#565656;
  background-color: grey;
}



.top-paragraph-container {
  overflow:hidden;
  width: 0;
  display:inline-block;
  vertical-align:top;
}

.top-icon-paragraph {
  display:inline-block;
  vertical-align: top;
  margin-top: 5px;
  color: white !important;
  padding-left: 10px;
  display:none;
}

.top-icon-paragraph:hover {
  color: #1c1c1c;
}

