$lighter-blue: #e5f5fc;
$light-blue: #b9dae8;
$mid-blue: #70b5d3;
$dark-blue: #2588b2;

$nearly-black: #1c1c1c;


/***************8
*******GENERaL STUFF **
*******************/

html, body{
  height: 100%;
}


body {
  background-color: #1c1c1c !important;
}


.contains-everything {
  padding: 0px 5px;
  height: 70%;
}



/**** ALERTS ******/

.alert {
  height: 30px !important;
  margin: 0px  !important;
  padding: 5px 0px 0px 5px !important;
}

.alert-container {
  height: 50px;
  padding: 10px 5px;
}



.service, .description, .price {
  display: block;
  margin-right: 20px;
}

.form-container {
  display: inline-block;
}

.service-paragraph, .description-paragraph, .price-paragraph {
  display: inline-block;
  margin: 2px 5px 2px;
}

.service-paragraph {
  font-weight: 800;
}

.price-paragraph {
  float: right;
  vertical-align:top;
}

.delete-button {
  float:right;
  vertical-align:top;
}

.edit-button {
  float: right;
  margin-right: 5px;
}


.sortable-placeholder {
  border: 1px dashed #CCC;
  background-color: #4e6889;
  height: 36px;

  margin: 5px 15px;
  list-docoration: none
}

.sortable {
  list-decoration: none;
  margin: 0;
  padding: 0;
}

.sortable2 {
  list-decoration: none;
  margin: 0;
  padding: 0;
}

.edit-toplines-h4 {
  color: white;
  margin-left: 10px;
}


.block-body {
  width: 1000px;
  height: 200px;
}

/**************************
********HEADER***********
************************/

.header {
  background-color: #495867;
  padding: 5px 10px;
  height: 2.8em;
  -webkit-box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.75);
}

.header > a {
  color: white;
  margin-left: 12px;
}

.fa-object-group {
  color: $nearly-black;
  font-size: 2.3em !important;
  -webkit-transition:  color 0.3s;
  transition: color 0.3s;
}

.header-circle {
  position:static !important;
  top:0;
  right:0;
  left:0;
  color: $nearly-black !important;
  font-size: 2.3em !important;
}

.fa-pencil {
  color: $nearly-black;
  font-size: 2.3em !important;
  -webkit-transition:  color 0.3s;
  transition: color 0.3s;
}

.fa-user {
  color: $nearly-black;
  position: absolute;
  right: 8px;
  top:8px;
  -webkit-transition:  color 0.3s;
  transition: color 0.3s;
  font-size: 2.3em !important;
}

.fa-user:hover, .fa-object-group:hover, .header-circle:hover, .fa-pencil:hover {
  color: white !important;
}

.user-name {
  color: white;
  display: inline-block;
    position: absolute;
    top: 17px;
    right: 38px;
    font-size: 11px;
}

.user-dropdown {
  display: inline-block;
  position: absolute;
  background-color: #5F7184;
  right: 2px;
  top: 39px;
  padding: 5px 10px;
  display:none;
}

.user-dropdown > a {
  display: block;
  color: white;
}
/**************************#
******EDIT INV *************
*****************************/

.inv-container {
  border: 3px solid $mid-blue;
  border-width: 3px 3px 2px 3px;
  border-radius: 5px 5px 0px 0px;
  background-color: $lighter-blue;
  color: $nearly-black;
  padding: 5px;
}

.inv-container-links {
  border: 3px solid $mid-blue;
  border-width: 1px 3px 3px 3px;
  border-radius: 0px 0px 5px 5px;
  background-color: $light-blue;
  padding: 5px;
}

.inv-container-links > a {
  color: $dark-blue;
  margin-right: 7px;
}

.inv-container > p {
  margin: 0px;
}

.edit-inv-form-inner {
  border: 3px solid $dark-blue;
  border-width: 0px 3px;
  margin: 0px 5px;

  background-color: $mid-blue;
  padding: 5px;
}

.line {
  border: 1px solid $mid-blue;
  border-radius: 5px;
  margin: 0px 0px 5px 0px;
  background-color: $lighter-blue;
  padding: 2px 10px 2px 5px;
  overflow: auto;
  background-color: #181818;
  border: none;
  margin: 0px 10px 5px 10px;
  font-size: 20px;
  color: white;
  font-family: 'Patua One', cursive;
    
}

.total-container {
  border: 3px solid $dark-blue;
  border-width: 3px;
  margin: 0px 0px;

  background-color: $light-blue;
  padding: 5px;
}

.total-container > p, .custom-total-container > p {
  margin: 0;
  padding: 0;
}

.custom-total-container {
  border: 3px solid $dark-blue;
  border-width: 0px 3px 3px 3px;
  margin: 0px 0px;
  border-radius: 0px 0px 5px 5px;

  background-color: $light-blue;
  padding: 5px;
}

.total-container > a {
  color: $dark-blue;
}

.total {
  display: inline-block;
}

.custom-total {
  display: inline-block;
  float: right;
}
/* NEW LINE FORM */

.new-line-form {
  margin: 0px 0px 30px 10px;
  background-color: #20252A;
    padding: 2px 10px 20px;
    margin: 5px;
    border-radius: 5px;
}

.line-left {
  display:inline-block;
  max-width: 980px;
}

.description, .service, .price, .quantity {
  vertical-align:top;
  font-size:25px;
  width: 300px;
  display: inline-block;
  border-radius: 2px;
  padding-left: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

.service {
  width: 200px;
}

.description {
  margin-bottom: -8px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  width: 600px;
  max-width: 800px;
  height:38px;
  
}

.quantity {
  width: 60px;
}

.price {
  width: 90px;
  margin-left: 15px;
}

.edit_line {
  display: inline-block;
  margin: 3px 0px;

}

.line-button {
  height: 34px;
  margin-top: 2px;
  width: 70px;
  border-radius: 5px;
}

/************************
(((((((((((((((DASHBOARD
*****************)*/

.dashboard-container {
  width: 1900px;
  overflow:hidden;
}

.dashboard-left {
  height: 100%;
  width: 100%;
  background-color: #2a323a;
  margin-left: 15px;
  border-radius: 5px;
  display:inline-block;
  float:left;
}

.dashboard-left-container {
  display: inline-block;
  width: 300px;
  height: 700px;
  margin-right: 20px;
  
}

.dashboard-right-container {
  display: inline-block;
  width: 1220px;
  height: 700px;
  vertical-align: top;

}

.left-invoices-container {
  overflow:auto;
  width: 100%;
  height: 585px;
}

.dashboard-left > .left-inner {
  width: 100%;
  background-color: #0a0a0a;
  overflow: hidden;
  height: 65px;
}

.left-inner > h3 {
  color: #ededed;
  font-family: 'Patua One', cursive;
  text-align: center;
  padding: 18px 0px 15px;
  border-bottom: 3px solid black;
  margin: 0;
  font-size: 1.8em;
  
}



.left-search {
  background-color: white;
  width: 80%;
  margin: 10px 0 10px 10px;
  border-radius: 8px;
  
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  
  display: block;
  padding-left: 22px;
  border:none;
  display: inline-block;
}

textarea, input { outline: none; }

.fa-search {
  margin: 5px 0 5px 5px;
    position: relative;
    left: 32px;
    top: 0px;
    display:inline-block;
}

.dashboard-left > a:hover {
  text-decoration: none;
  
}

.dashboard-invoice {
  background-color: #141414;
  border-radius: 8px;
  width: 90%;
  height: 60px;
  margin: 0px auto 10px;
  
  -webkit-transition:  background-color 0.3s;
  transition: background-color 0.3s;
}

.dashboard-invoice-selected {
  background-color: #7a7a7a !important;
}

.dashboard-invoice:hover {
  background-color: #1c1c1c;
  text-decoration: none;
}

.dashboard-invoice > p {
  color: white;
  font-size: 24px;
  font-family: 'Patua One', cursive;
  text-align: center;
  margin: 0;
}

.dashboard-invoice > .dashboard-date {
  color: #afafaf;
  font-size: 15px;
}

.dashboard-right {
  display: inline-block;
  height: 700px;
  width: 100%;
  background-color: #2a323a;
  margin-left: 15px;
  border-radius: 5px;
  margin-right: 15px;
}

.right-body {
  overflow: auto;
  width: 100%;
  height: 90%;
}

.right-inner > h3 { 
  display: inline-block;
  color: #ededed;
  font-family: 'Patua One', cursive;
  text-align: center;
  padding: 18px 0px 15px;
  border-bottom: 3px solid black;
  margin: 0 0 0 15px;
  font-size: 1.8em;
}


.right-inner-two > h3 { 
  display: inline-block;
  color: #ededed;
  font-family: 'Patua One', cursive;
  text-align: center;
  padding: 18px 0px 15px;
  border-bottom: 3px solid black;
  margin: 4px 10px 0 0px;
  font-size: 1.4em;


}


.right-inner-container {
  width:100%;
  background-color: #0a0a0a;
}

.right-inner {
  width: 70%;
  background-color: #0a0a0a;
  display:inline-block;
  box-sizing: border-box;
  margin-right: -4px;
  overflow:hidden;
}



.right-inner-two {
  width: 30%;
  background-color: #0a0a0a;
  display:inline-block;
  box-sizing: border-box;
  vertical-align: top;
  overflow:hidden;
  text-align:right;

}


.fa-plus-square {
  float: right;
  right: 20px;
  color: #43bf35;
  margin: 3px 5px 3px 0px;
  
  display: inline-block;
}

.fa-plus-square:hover {

  color: #68dd58;
}

.left-tab {
  width: 15px;
  height: 150px;
  background-color: black;
  display:inline-block;
  position: absolute;
  left: -4px;
  border-radius: 0px 10px 30px 0px;
  -webkit-transition:  background-color 0.3s;
  transition: background-color 0.3s;
}

.right-tab {
  width: 15px;
  height: 150px;
  background-color: black;
  display:inline-block;
  position: absolute;
  top: 101px;
  right: -4px;
  border-radius: 10px 0px 0px 30px;
  -webkit-transition:  background-color 0.3s;
  transition: background-color 0.3s;
}

.left-tab:hover, .right-tab:hover {
  cursor: pointer;
  background-color:#2a323a;
}

.iframe-container {
  display:inline-block;
  vertical-align:top;
  width: 650px;
  margin: 0px 0px 0px 20px;
  height: 820px;
  overflow:hidden;
}

.iframe-inner {
  width: 100% !important;
  height: 100% !important;
  margin-left: 700px;

}

.edit_inv {
  display:inline-block !important;
}

.recipient-form-dashboard {
  color: black;
  background-color: #0A0A0A;
  color: #8e8e8e;
  border: none;
  font-family: 'Patua One', cursive;
  font-size: 1.8em;
  margin-top: -1px;
}

.total-form-dashboard {
  color: black;
  background-color: #0A0A0A;
  color: #8e8e8e;
  border: none;
  font-family: 'Patua One', cursive;
  font-size: 1.4em;
  margin-top: -1px;
  width: 100px;
}

.fa-file {
  color: #70e088;
  position:relative;
  bottom: -310px;
  left: 1300px;
}

.date-form-dashboard {
  background-color: #0A0A0A;
  border:none;
  color: white;
  display: block;
  font-size: 19px;
  border-radius: 8px;
  padding: 0 5px 5px 10px;
  margin-top: -1px;
      font-family: 'Patua One', cursive;
      
  background-color: black;
  height: 45px;
  width: 261px;
  border-radius: 7px;
  vertical-align: Top;
  margin: 0px 2px;
  font-size: 1.8em;
  padding-top: 3px;
}

.date-form-title {
  display: inline-block;
  color: white;
  font-size: 19px;
  font-weight: 700;
  margin-left: 10px;
    font-family: 'Patua One', cursive;
}

.date-form-container {
  vertical-align:top;
  background-color: #181818;
  border-radius: 6px;
  padding: 10px 0px 4px 0px;
  margin: 15px 0px 15px 10px;
  display: inline-block;
  padding-right: 7px;
    

}

.address-form-dashboard {
  background-color: #0A0A0A;
  border:none;
  color: white;
  display: inline-block;
  font-size: 19px;
  border-radius: 8px;
  padding: 0 5px 5px 10px;
  margin-top: -1px;
  font-family: 'Patua One', cursive;
  height: 32px;
  width:450px;
}

.address-form-title {
  vertical-align:top;
  display: inline-block;
  color: white;
  font-size: 19px;
  font-weight: 700;
  margin-left: 10px;
  font-family: 'Patua One', cursive;
  
}

.address-form-container {
  background-color: #181818;
  border-radius: 6px;
  padding: 10px 0px 4px 0px;
  margin: 15px 0px 0px 10px;
  display: inline-block;
  padding-right: 7px;
}

.group-form-container {
  vertical-align:top;
    background-color: #181818;
  border-radius: 6px;
  padding: 10px 0px 4px 0px;
  margin: 15px 0px 15px 10px;
  display: inline-block;
  padding-right: 7px;
}

.group-form-title {
  vertical-align:top;
  display: inline-block;
  color: white;
  font-size: 19px;
  font-weight: 700;
  margin-left: 10px;
  font-family: 'Patua One', cursive;
}

.group-form-dashboard {
  background-color: #0A0A0A;
  border:none;
  color: white;
  display: inline-block;
  font-size: 19px;
  border-radius: 8px;
  padding: 0 5px 5px 10px;
  margin-top: -1px;
  font-family: 'Patua One', cursive;
}

.note-form-container {
  vertical-align:top;
    background-color: #181818;
  border-radius: 6px;
  padding: 10px 0px 4px 0px;
  margin: 5px 0px 15px 10px;
  display: inline-block;
  padding-right: 7px;
}

.note-form-dashboard {
  background-color: #0A0A0A;
  border:none;
  color: white;
  display: inline-block;
  font-size: 19px;
  border-radius: 8px;
  padding: 0 5px 5px 10px;
  margin-top: -1px;
  font-family: 'Patua One', cursive;
  height: 32px;
  width:579px;
  max-width:579px;
}

.note-form-title {
  vertical-align:top;
  display: inline-block;
  color: white;
  font-size: 19px;
  font-weight: 700;
  margin-left: 10px;
  font-family: 'Patua One', cursive;
  
}

.dashboard-form-button {
  vertical-align:top;
  margin: 17px 0px 0px 10px;
  height: 46px;
  background-color: #0A0A0A;
  font-family: 'Patua One', cursive;
  color: white;
  border:none;
  border-radius: 6px;
  font-size: 20px;
}

.dashboard-form-button:hover {
  background-color: #2A323A;
}

.fa-pencil-square-o {
  float:right;
  margin-top: 20px;
  margin-right: 15px;
  font-size: 3.15em !important;
}

.fa-arrow-circle-down {
  float:right;
  margin-top: 20px;
  margin-right: 10px;
}

.fa-trash-o {
    float:right;
  margin-top: 20px;
  margin-right: 18px;
  font-size: 2.8em !important;
}

.new-line-form-title {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  margin-left:5px;
}
/******************
********DASHBOARD NEW FORM *****
***************/

.right-form-container {
  padding: 20px 0px 0px 0px;
}

.recipient-form-dashboard {
  background-color: black;
  height: 45px;
  width: 400px;
  border-radius: 7px;
  margin: 0px 0px 0px 10px;
  padding: 10px;
  position: static;
  color: white;
}

.date-form-dashboard-new {
  background-color: #0A0A0A;
  border:none;
  color: white;
  display: inline-block;
  font-size: 19px;
  border-radius: 8px;
  padding: 0 5px 5px 10px;
  margin-top: -1px;
      font-family: 'Patua One', cursive;
      
  background-color: black;
  height: 45px;
  width: 261px;
  border-radius: 7px;
  vertical-align: Top;
  margin: 0px 2px;
  font-size: 1.8em;
  padding-top: 3px;
}

.address-form-dashboard {
  background-color: black;
  height: 105px;
  max-width: 400px;
  border-radius: 7px;
  vertical-align: top;
  margin: 2px;
  font-size: 1.8em;
  padding-top: 3px;
  
}

.group-new-container {
  margin: 0px;
  background-color: black;
  
}

.new-button-dashboard {
  display: block;
  color: white;
  background-color: black;
  border-radius: 8px;
  margin: 25px auto;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  border:none;
}

.new-button-dashboard:hover {
  background-color: $nearly-black;
}

.fa-plus-circle {
  color: green;
  position: relative;
  top: -45px;
  left: 255px;
  -webkit-transition:  color 1s;
  transition: color 1s;
}
.fa-plus-circle:hover {
  color: white;

}


/******************
********EDIT USER *****/

.edit-user-h4 {
  color: white;
}


.edit-user-sender {
  background-color: #181818;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
}

.edit-user-sender > label {
  color: white;
}

.edit-user-sender > input {
  background-color: black;
  border:none;
  border-radius: 5px;
}


.edit-user-address {
  background-color: #181818;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
}

.edit-user-address > label {
  color: white;
}

.edit-user-address > input {
  background-color: black;
  border:none;
  border-radius: 7px;
}


.edit-user-mobile {
  background-color: #181818;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
}

.edit-user-mobile > label {
  color: white;
}

.edit-user-mobile > input {
  background-color: black;
  border:none;
  border-radius: 7px;
}




.edit-user-email {
  background-color: #181818;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
}

.edit-user-email > label {
  color: white;
}

.edit-user-email > input {
  background-color: black;
  border:none;
  border-radius: 7px;
}




.edit-user-phone {
  background-color: #181818;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
}

.edit-user-phone > label {
  color: white;
}

.edit-user-phone > input {
  background-color: black;
  border:none;
  border-radius: 7px;
}




.edit-user-topoffset {
  background-color: #181818;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
}

.edit-user-topoffset > label {
  color: white;
}

.edit-user-topoffset > input {
  background-color: black;
  border:none;
  border-radius: 7px;
}


/********************
****GROUPS**********
*********************/

.groups-container {
  overflow:auto;
  width: 300px;
  height: 585px;
  float:right;
}

.groups-inner {
  display: inline-block;
  height: 700px;
  width: 100%;
  background-color: #2a323a;
  border-radius: 5px;

}

/***************//******************
********NO RESULTS *****
***************/

.no-results {
  margin-top: 150px;
}

.fa-frown-o {
  color: white;
  text-align: center;
  display: block !important;
  font-size: 7em !important;
}

.no-results > p {
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}










.left-invoices-container::-webkit-scrollbar,.right-body::-webkit-scrollbar, .groups-container::-webkit-scrollbar-track {
    width: 12px;
}
 
.left-invoices-container::-webkit-scrollbar-track, .right-body::-webkit-scrollbar-track, .groups-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9); 
    border-radius: 10px;
    
}
 
.left-invoices-container::-webkit-scrollbar-thumb, .right-body::-webkit-scrollbar-thumb, .groups-container::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: #141414;
}

.tt-menu {
  width: 400px;

  margin: 0 0 0 10px;
  background-color: #1c1c1c;
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  padding: 5px 10px;
}

.tt-hint {
  color:#565656;
  background-color: grey;
}

.alert {
  display: block;
  margin: 0px 10px !important;
}

.alert-success {
  font-family: 'Roboto', sans-serif;
  background-color:#76bf5d !important;
  border: none !important;
  color: white !important;
}

.alert-danger {
  font-family: 'Roboto', sans-serif;
  background-color:#dd809e !important;
  border: none !important;
  color: white !important;
}

