
<% @invs.each do |inv| %>
  <a href="/dashboard_invoice//<%= inv.id.to_s %>" data-remote="true">
    
    <% if !@inv.nil? && @inv.id == inv.id %>
        <div class="dashboard-invoice dashboard-invoice-selected">
      <% else %>
        <div class="dashboard-invoice">
      <% end %>
        
        <% if inv.recipient.length > 19 %>
          <p><%= inv.recipient[0..18] + "..." %></p>
        <% else %>
          <p><%= inv.recipient %></p>
        <% end %>
        <p class="dashboard-date"><%= inv.created_at.to_s[0..9] %></p>
        </div>

      

  </a>
<% end %>

<% if current_user.invs.count < 1 %>

  <div class="no-results">
    <i class="fa fa-frown-o fa-4x"></i>
    <p>You haven't made any<br>invoices yet!</p>
  </div>

<% elsif @invs.count == 0 %>
  <div class="no-results">
    <i class="fa fa-frown-o fa-4x"></i>
    <p>No items found matching <br> that search!</p>
  </div>
<% end %>