<% @invs.each do |inv| %>
  <a href="/invs/<%= inv.id.to_s %>/edit">
    <div class="dashboard-invoice">
      <p><%= inv.recipient %></p>
      <p class="dashboard-date"><%= inv.created_at.to_s[0..9] %></p>
    </div>
  </a>
<% end %>

<% if current_user.invs.count <= 1 %>

  <div class="no-results">
    <i class="fa fa-frown-o fa-4x"></i>
    <p>You haven't made any<br>invoices yet!</p>
  </div>

<% elsif @invs.count == 0 %>
  <div class="no-results">
    <i class="fa fa-frown-o fa-4x"></i>
    <p>No items found matching <br> that search!</p>
  </div>
<% end %>